<div class="wrapper">
  <h3>Privacy Policy</h3>

  Wo Bits bewegt werden, werden Logfiles geschrieben. <br>
  Auch hier wird beim Aufruf der Seite Logfiles geschrieben und zwar folgendes: die Zeit, IP-Adresse und der Browser-Footprint. <br/>
  Diese Seite speichert die Email-Adresse des/r AnwenderIn und gibt diese über Email weiter. (weitere Informationen
  darüber was gespeichert wird, findest du <a
  href="https://github.com/kper/buddysystem/tree/master/backend/src/main/java/wtf/juridicum/buddy/entity">hier</a>).
  Sobald das definierte
  <code>examDate</code>
  (Anmerkung: Datum der Prüfung) erreicht wurde, werden die Database-Records gelöscht. <mark>Eine Übermittlung der
  Email-Adresse außer der/die PartnerIn an Dritte erfolgt nicht.</mark>
  Die Applikation und Datenbank wird durch Digital Ocean in Frankfurt gehostet.
  <br><br>

  Es gibt keine Analytics und keine Cookies.

  <br><br>

  Dir stehen bezüglich Deiner bei mir gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung,
  Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu.
  Wenn du glaubst, dass die Verarbeitung deiner Daten gegen das Datenschutzrecht verstößt oder deine
  datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, kannst du dich bei mir kevin.per (at)
  protonmail.com oder der Datenschutzbehörde beschweren.

</div>
